body{
    font-family: Algerian, ui-sans-serif;
    background-color: rebeccapurple;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: purple;
}
.container{
    width: 500px;
    background-color: #dbe3db;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0.4px 8px rgba(0,0,0,0.1);
align-items: center;
}
h2{
    text-align: center;
    margin-bottom: 20px;
    color: red;
}
.form-group{
    margin-bottom: 20px;
}
label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input{
    width: 100%;
    padding: 10px;
    border: 2px solid wheat;
    border-radius: 20px;
    font-size: 10px;
}
button{
    width: 100%;
    padding: 10px;
    background-color: indianred;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 10px;
}



